{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Media</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Author</th>
                <th>Comments</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.media }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>@{{ post.author }}</td>
                <td><span class="badge bg-secondary">{{post.comments|length}}</span></td>
                <td>
                    <a href="{{ path('post_show', {'id': post.id}) }}">show</a>
                    {% if app.user is same as( post.author) %}
                        <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{knp_pagination_render(posts)}}
    {% if app.user%}
        <a href="{{ path('post_new') }}">Create new</a>
    {% endif %}
{% endblock %}
